In [1]:
import numpy as np

In [2]:
a=np.array([5,6,8])
a

array([5, 6, 8])

In [3]:
a.dtype

dtype('int64')

In [5]:
a=np.array([5,6,8],dtype=float) #you can specify the data type inside the ()

In [6]:
a

array([ 5.,  6.,  8.])

In [7]:
a=np.array([3.4,5,7.7])
a

array([ 3.4,  5. ,  7.7])

In [8]:
a.dtype

dtype('float64')

In [10]:
#specifying the dimensions of the matrix
np.zeros([3,4])

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [11]:
np.zeros([3,4],dtype=int)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [12]:
np.arange(10,20,2) #it does not go to 20, 2 is the interval

array([10, 12, 14, 16, 18])

In [17]:
np.linspace(0,2,9)

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ,  1.25,  1.5 ,  1.75,  2.  ])

In [18]:
np.pi

3.141592653589793

In [20]:
np.linspace(0,2*np.pi,200)

array([ 0.        ,  0.0315738 ,  0.06314759,  0.09472139,  0.12629518,
        0.15786898,  0.18944277,  0.22101657,  0.25259036,  0.28416416,
        0.31573796,  0.34731175,  0.37888555,  0.41045934,  0.44203314,
        0.47360693,  0.50518073,  0.53675452,  0.56832832,  0.59990211,
        0.63147591,  0.66304971,  0.6946235 ,  0.7261973 ,  0.75777109,
        0.78934489,  0.82091868,  0.85249248,  0.88406627,  0.91564007,
        0.94721387,  0.97878766,  1.01036146,  1.04193525,  1.07350905,
        1.10508284,  1.13665664,  1.16823043,  1.19980423,  1.23137803,
        1.26295182,  1.29452562,  1.32609941,  1.35767321,  1.389247  ,
        1.4208208 ,  1.45239459,  1.48396839,  1.51554218,  1.54711598,
        1.57868978,  1.61026357,  1.64183737,  1.67341116,  1.70498496,
        1.73655875,  1.76813255,  1.79970634,  1.83128014,  1.86285394,
        1.89442773,  1.92600153,  1.95757532,  1.98914912,  2.02072291,
        2.05229671,  2.0838705 ,  2.1154443 ,  2.14701809,  2.17859189,
        2.21016569,  2.24173948,  2.27331328,  2.30488707,  2.33646087,
        2.36803466,  2.39960846,  2.43118225,  2.46275605,  2.49432985,
        2.52590364,  2.55747744,  2.58905123,  2.62062503,  2.65219882,
        2.68377262,  2.71534641,  2.74692021,  2.77849401,  2.8100678 ,
        2.8416416 ,  2.87321539,  2.90478919,  2.93636298,  2.96793678,
        2.99951057,  3.03108437,  3.06265816,  3.09423196,  3.12580576,
        3.15737955,  3.18895335,  3.22052714,  3.25210094,  3.28367473,
        3.31524853,  3.34682232,  3.37839612,  3.40996992,  3.44154371,
        3.47311751,  3.5046913 ,  3.5362651 ,  3.56783889,  3.59941269,
        3.63098648,  3.66256028,  3.69413408,  3.72570787,  3.75728167,
        3.78885546,  3.82042926,  3.85200305,  3.88357685,  3.91515064,
        3.94672444,  3.97829823,  4.00987203,  4.04144583,  4.07301962,
        4.10459342,  4.13616721,  4.16774101,  4.1993148 ,  4.2308886 ,
        4.26246239,  4.29403619,  4.32560999,  4.35718378,  4.38875758,
        4.42033137,  4.45190517,  4.48347896,  4.51505276,  4.54662655,
        4.57820035,  4.60977414,  4.64134794,  4.67292174,  4.70449553,
        4.73606933,  4.76764312,  4.79921692,  4.83079071,  4.86236451,
        4.8939383 ,  4.9255121 ,  4.9570859 ,  4.98865969,  5.02023349,
        5.05180728,  5.08338108,  5.11495487,  5.14652867,  5.17810246,
        5.20967626,  5.24125006,  5.27282385,  5.30439765,  5.33597144,
        5.36754524,  5.39911903,  5.43069283,  5.46226662,  5.49384042,
        5.52541421,  5.55698801,  5.58856181,  5.6201356 ,  5.6517094 ,
        5.68328319,  5.71485699,  5.74643078,  5.77800458,  5.80957837,
        5.84115217,  5.87272597,  5.90429976,  5.93587356,  5.96744735,
        5.99902115,  6.03059494,  6.06216874,  6.09374253,  6.12531633,
        6.15689013,  6.18846392,  6.22003772,  6.25161151,  6.28318531])

In [23]:
#reshape the dimensions of the array
np.arange(0,12).reshape(4,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [32]:
a=np.array([10,20,30,40])
b=np.arange(4)

In [26]:
print(a)
print(b)

[10 20 30 40]
[0 1 2 3]

In [27]:
a-b

array([10, 19, 28, 37])

In [28]:
a+1

array([11, 21, 31, 41])

In [29]:
a**2

array([ 100,  400,  900, 1600])

In [33]:
a+=1 #adding a certain value to the array

In [34]:
print(a)

[11 21 31 41]

In [35]:
#comparing every element in the list to 20: boolean
a<20

array([ True, False, False, False], dtype=bool)

In [40]:
A=np.array([[1,2],[3,4]])
A

array([[1, 2],
       [3, 4]])

In [42]:
np.array([1,2,3,4]).reshape(2,2) #notice the difference between array and arange

array([[1, 2],
       [3, 4]])

In [45]:
B=np.array([[5,6],[7,8]])
B

array([[5, 6],
       [7, 8]])

In [46]:
A-B

array([[-4, -4],
       [-4, -4]])

In [47]:
A**2

array([[ 1,  4],
       [ 9, 16]])

In [48]:
#A×B: multiply each element by element
A*B

array([[ 5, 12],
       [21, 32]])

In [49]:
#A.B: the first value is the first row multiplies the first column
#1*5+2*7=19
#n×m · m×j=n×j
A.dot(B)

array([[19, 22],
       [43, 50]])

In [59]:
#Creating 12 number between 1 and 100

np.random.seed(100) #setting a seed enables us to produce the same result everytime

b=np.random.randint(1,100,12).reshape(4,3)

array([ 0.21010774,  0.4527399 ,  0.87014264,  0.06368104,  0.62431189,
        0.52334774,  0.56229626,  0.00581719,  0.30742321,  0.95018431,
        0.12665424,  0.07898787])

In [58]:
#Creating random numbers from different distributions
np.random.normal(10,1)
np.random.random(12) #Return random floats in the half-open interval [0.0, 1.0).

8.559228816670247

In [60]:
b.min()

9

In [61]:
b.max()

99

In [62]:
b.sum()

698

In [63]:
#0 is for columns, 1 is for rows
b.sum(axis=0)

array([207, 254, 237])

In [64]:
b.sum(axis=1) #sum of rows

array([102, 217, 159, 220])

In [72]:
c=np.arange(1,11)

In [68]:
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [69]:
a=c**2

In [70]:
a

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [73]:
a[4:6]

array([25, 36])

In [76]:
#Selecting every other element
a[::2] ### a[start:end:step] step by default is 1
#OR

array([ 1,  9, 25, 49, 81])

In [77]:
a[0:10:2]

array([ 1,  9, 25, 49, 81])

In [78]:
a[::-1] # reverse order

array([100,  81,  64,  49,  36,  25,  16,   9,   4,   1])

In [79]:
a[::-2] #reverse order with decrements of 2

array([100,  64,  36,  16,   4])

In [80]:
a**(1/2)

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.])

In [82]:
for i in a:
    print(np.sqrt(i))

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [85]:
b=np.arange(30,50,1).reshape(4,5)

In [88]:
print(b)
print(b[2,3]) #notice python starts from 0

[[30 31 32 33 34]
 [35 36 37 38 39]
 [40 41 42 43 44]
 [45 46 47 48 49]]
43

In [90]:
#Nested for loops
#need two for loops to go from left to right & from top to bottom

for i in range(4): 
    #we put rows for loop first because you will fix the row number and change
    #column number
    for j in range(5):
        print(b[i,j]+1)

31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [96]:
b=np.arange(0,100,5).reshape(4,5)

In [97]:
print(b)

[[ 0  5 10 15 20]
 [25 30 35 40 45]
 [50 55 60 65 70]
 [75 80 85 90 95]]

In [99]:
for i in range(4):
    for j in range(5):
        if b[i,j]%5==0:
            if b[i,j]%10!=0:
                print(b[i,j])
            else:
                pass
        else:
            pass

5
15
25
35
45
55
65
75
85
95

In [114]:
for i in range(4):
    for j in range(5):
        if (b[i,j]%10!=0&b[i,j]%5==0):
            print(b[i,j])

5
15
25
35
45
55
65
75
85
95

In [103]:
num_list=np.array([1,2,3])
alpha_list=np.array(['a','b','c'])

In [116]:
for i in num_list:
    print(i)
    for n in alpha_list:
        print(n)

1
a
b
c
2
a
b
c
3
a
b
c

In [117]:
list_of_lists=[['apple','orange','grape'],[0,1,2],[9.9,8.8,7.7]]

In [119]:
for i in list_of_lists:
    for n in i:
        print(n)

apple
orange
grape
0
1
2
9.9
8.8
7.7

In [126]:
d=np.array([[1,2],[3,4]])
e=np.array([[5,6],[7,8]])

In [127]:
print(np.vstack((d,e)))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
[[1 2 5 6]
 [3 4 7 8]]

In [128]:
print(np.hstack((d,e))) #notice that it is stacking horizontally element by element

[[1 2 5 6]
 [3 4 7 8]]

In [133]:
a=np.arange(12)**2
i=np.array([2,4,2,0])

# Fancy indexing
print(a)
print(a[i])
print(a[[2,4,2,0]])

# Boolean indexing
print(a[a<30])

[  0   1   4   9  16  25  36  49  64  81 100 121]
[ 4 16  4  0]
[ 4 16  4  0]
[ 0  1  4  9 16 25]